@font-face {
  font-family: "iconfont"; /* Project id 2479358 */
  src: url('iconfont.woff2?t=1644058375194') format('woff2'),
       url('iconfont.woff?t=1644058375194') format('woff'),
       url('iconfont.ttf?t=1644058375194') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiangbei:before {
  content: "\e68e";
}

.icon-touxiang-copy:before {
  content: "\e624";
}

.icon-jiangbei1:before {
  content: "\ec3c";
}

.icon-guanjunjiangbei:before {
  content: "\e62c";
}

.icon-a-jiangbeishengliyinglewanchengbisai:before {
  content: "\e6ea";
}

.icon-suijiyonghu:before {
  content: "\e611";
}

.icon-icon_search:before {
  content: "\e6aa";
}

.icon-icon_arrow_down:before {
  content: "\e62b";
}

.icon-avatar09:before {
  content: "\e610";
}

.icon-14:before {
  content: "\e61b";
}

.icon-15:before {
  content: "\e61c";
}

.icon-icon-test:before {
  content: "\e664";
}

.icon-icon-test1:before {
  content: "\e671";
}

.icon-icon-test2:before {
  content: "\e672";
}

.icon-user__easyico:before {
  content: "\e60d";
}

.icon-qiatongtouxiang:before {
  content: "\e630";
}

.icon-yiguanzhu:before {
  content: "\e60b";
}

.icon-31yiguanzhudianpu:before {
  content: "\e60c";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-jiahao2:before {
  content: "\e636";
}

.icon-zengjiatianjiajiahao:before {
  content: "\e62a";
}

.icon-icon_biaoqian:before {
  content: "\e619";
}

.icon-biaoqian:before {
  content: "\e635";
}

.icon-ai55:before {
  content: "\e6ad";
}

.icon-zhuanfa:before {
  content: "\e6f3";
}

.icon-zhuanfa00:before {
  content: "\e6e6";
}

.icon-zhuanfa1:before {
  content: "\e6cf";
}

.icon-shoucangxiao:before {
  content: "\e8bc";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-boshiweb_bofangliang:before {
  content: "\e62f";
}

.icon-shipin1:before {
  content: "\e667";
}

.icon-shipinzhibo:before {
  content: "\e65b";
}

.icon-shipinhighline:before {
  content: "\e63a";
}

.icon-tongguo:before {
  content: "\e629";
}

.icon-tongguo1:before {
  content: "\e632";
}

.icon-tongguo-copy:before {
  content: "\ec80";
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-tuichu1:before {
  content: "\e612";
}

.icon-tuichu2:before {
  content: "\e61e";
}

.icon-yunshangchuan_o:before {
  content: "\ebb3";
}

.icon-gaojian:before {
  content: "\e687";
}

.icon-shipin:before {
  content: "\e649";
}

.icon-guanzhu:before {
  content: "\e60e";
}

.icon-riqi:before {
  content: "\e609";
}

.icon-riqi1:before {
  content: "\e60a";
}

.icon-24gl-calendar:before {
  content: "\eb3f";
}

.icon-riqi2:before {
  content: "\e6b7";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-huifu:before {
  content: "\e61a";
}

.icon-suo:before {
  content: "\e608";
}

.icon-guankancishu:before {
  content: "\e670";
}

.icon-yonghu:before {
  content: "\e665";
}

.icon-shouji1:before {
  content: "\e6d1";
}

.icon-kexuejishu:before {
  content: "\e60f";
}

.icon-goumai:before {
  content: "\e607";
}

.icon-shouji:before {
  content: "\e605";
}

.icon-zuanshi:before {
  content: "\e606";
}

.icon-hanbao:before {
  content: "\e600";
}

.icon-dianpu:before {
  content: "\e601";
}

.icon-huiyuanqia:before {
  content: "\e602";
}

.icon-wo:before {
  content: "\e603";
}

.icon-gongnengjianyi:before {
  content: "\e604";
}

