<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djh.mapper.TagsVideoMapper">
    <resultMap id="videoTags" type="com.djh.entity.TagsVideo">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="video_count" property="videoCount"/>
    </resultMap>

    <select id="selectVideoTags" resultMap="videoTags">
        SELECT t.id,t.`name`,t.video_count
        FROM tags_video t
        ORDER BY t.video_count  DESC
    </select>
</mapper>
