<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="tip top">top</div>

</body>
</html>
<script>

 const s = new Set([1,1,2,2,3])
 const arr = Array.from(s)
 console.log(arr);
</script>
<style>
    .box4{
        width: 200px;
        height: 200px;
        border: 1px solid black;
    }
    .box1 ~ .box4{
        height: 50px;
        width: 50px;
        background-color: black;
    }
</style>